<html>
    <head>
    	<title>{{ title }}</title>
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
		<style>
			.clearfix {
				overflow: auto;
			}
			.points {
				color: #009933;
			}

			div#chat_container {
				float:left;
				width: 40%;
			}
			
			div#info_container {
				margin-left: 42%;
				color:#004d00;
			}
			

			div#icon {
				padding: 10px 100px 10px 20px;
				display: inline-block;
			}

			textarea#chat {
				width: 100%;
				cols: 100;
				height: 25%;
				color:#004d00;
				font-size:14px;
			}

			input#text {
				width: 100%;
			}

			td {
				padding: 0 15px 0 15px;
			}

			#instructions > p,li {
				font-size:15px;
			}

			table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
				content: " \25B4\25BE"
			}

			table.sortable {
				color:#004d00;
			}

			table { 
				border-collapse: collapse; 
			}

			tr:nth-child(n) { 
				border: solid thin;
			}
			#clockdiv{
				display: inline-block;
				font-weight: bold;
				text-align: center;
				font-size: 18px;
				padding: 15px 0 15px 0;
			}


			#clockdiv > div{
				display: inline-block;
			}

			#clockdiv div > span{
				display: inline-block;
			}

			#clockdiv div > .seconds{
				margin-left:-3px;
			}

		</style>
		<script type="text/javascript" src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script> 
		<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
		<script type="text/javascript" charset="utf-8">
			var validCheckInterval, inboxCheckInterval;
			var BASE_URL = 'http://' + document.domain + ':' + location.port;
			var selectTime = null, messageStartTime = null;
			var messageTime = 0.0;
			$(document).ready(function(){
				$.ajax({
            		url: BASE_URL +'/_connect/',
            		type: "get",
            		data: {"uid": "{{ uid }}" },
            		dataType: "json"
            	});

            	$.ajax({
            		url: BASE_URL + '/_join_chat/',
            		type: "get",
            		data: {"uid": "{{ uid }}"},
            		dataType: "json",
            		success: function(response) {
            			displayText(response['message']);
            		}
            	});
		
				inboxCheckInterval = setInterval(checkInbox, 1000);
				validCheckInterval = setInterval(pollServer, 3000);
				window.onbeforeunload = disconnect;
				$('#text').keypress(function(e) {
					var code = e.keyCode || e.which;
					if ($('#text').val().length == 0) {
						messageStartTime = Date.now() / 1000.0;
					}
					if (code == 13) {
						text = $('#text').val();
						$('#text').val('');
						var currentTime = Date.now() / 1000.0;
						messageTime = currentTime - messageStartTime;
						sendMessage(text);
						messageStartTime = null;
						messageTime = 0.0;
					}
				});
		
			});
			
			function makeSelection(selected) {
				if(selectTime == null) {
					// if no selection has been made before, log selection and save selection time
					selectTime = new Date();
					select(selected);
				}
				else {
					var currentTime = new Date();
					// check if last selection was more than 10 seconds ago; selections can only be made > 10 seconds apart.
					// If the last selection was made < 10 seconds ago, do nothing (no selection event is logged).
					if ((currentTime - selectTime) > 10000) {
						select(selected);
						selectTime = currentTime;
					} // otherwise do nothing
				}
			}
			
			function displayText(message) {
				$('#chat').val($('#chat').val() + message + '\n');
				$('#chat').scrollTop($('#chat')[0].scrollHeight);
			}

			function sendMessage(message) {
				$.ajax({
					url: BASE_URL + '/_send_message/',
					type: "get",
					data: {
						"uid": "{{ uid }}",
						"message": message,
						"time_taken": messageTime
					},
					dataType: "json",
					success: function(response) {
						displayText(response['message']);
					}
				});
			}
			function select(selection) {
				$.ajax({
					url: BASE_URL + '/_select_option/',
					type: "get",
					data: { 
						"uid": "{{ uid }}",
						"selection": selection
					},
					dataType: "json",
					success: function(response) {
						displayText(response['message']);
					}

				});
			}
			function checkInbox() {
				$.ajax({
					url: BASE_URL + '/_check_inbox/',
					type: "get",
					data: { "uid": "{{ uid }}" },
					dataType: "json",
					success: function(response) {
						if(response['received']	) {
							displayText(response['message']);
						}
					}
				});
			}

			function pollServer() {
				$.ajax({
					url: BASE_URL + '/_check_chat_valid/',
					type: "get",
					data: {"uid": "{{ uid }}"},
					dataType: "json",
					success: function(response) {
						if(!response['valid']) {
							disconnect();
							window.location.reload(true);
						}
					}
				});
				
			}

			function disconnect() {
            	clearInterval(validCheckInterval);
            	clearInterval(inboxCheckInterval);
            	$.ajax({
            		url: BASE_URL + '/_leave_chat/',
            		type: "get",
            		data: {"uid": "{{ uid }}"}
            	});
            	$.ajax({
            		url: BASE_URL + '/_disconnect/',
            		type: "get",
            		data: {"uid": "{{ uid }}" }
            	});
            }
            
            
            function skipChat() {
	            disconnect();
            	$.ajax({
            		url: BASE_URL + '/_skip_chat/',
            		type: "get",
            		data: {"uid": "{{ uid }}"}
				});			
				window.location.reload(true);
			}

		</script>

		<script type="text/javascript" charset="utf-8">
			function getTimeRemaining(endtime) {
				var t = Date.parse(endtime) - Date.parse(new Date());
				var seconds = Math.floor((t / 1000) % 60);
				var minutes = Math.floor((t / 1000 / 60));
				return {
					'total': t,
					'minutes': minutes,
					'seconds': seconds
				};
			}

			function initializeClock(id, endtime) {
				var clock = document.getElementById(id);
				var minutesSpan = clock.querySelector('.minutes');
				var secondsSpan = clock.querySelector('.seconds');

				function updateClock() {
					var t = getTimeRemaining(endtime);
					minutesSpan.innerHTML = t.minutes+':';
					secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);
					console.log(t.total/1000);
					if (t.total/1000 <= {{ quit_after|int }} && {{ quit_enabled }}) {
						$("#leave").css("display", "inline-block");
					}
					if (t.total <= 0) {
						clearInterval(validCheckInterval);
						clearInterval(timeinterval);
						pollServer();
					}
				}

				updateClock();
				var timeinterval = setInterval(updateClock, 1000);
			}

			function init() {
				var deadline = new Date(Date.parse(new Date()) + {{ num_seconds }} * 1000);
				initializeClock('clockdiv', deadline);
			}
		</script>
    </head>
    
    <body onload='init()' oncopy="return false" oncut="return false" onpaste="return false">
      <div class="clearfix">
    <div id="chat_container">
    <div id="instructions">
        <h1 style="color:#004d00">{{ title}}</h1>
        {{ instructions }}
	</div>

        <div id="clockdiv" align="right">
	  Time Remaining: 
	  <div>
	    <span class="minutes"></span>
	    <span class="seconds"></span>
	  </div>
	</div>

        <textarea readonly id="chat"></textarea><br><br>
        <input id="text" placeholder="Enter your message here"><br><br>

    </div>

    <div id="info_container">
    	<div id="topright">
			<div id="icon">
				<img height="120" width="120" src="{{ url_for('static', filename='img/')}}{{icon}}"/>
			</div>
			<div style="display:none; color:#FF0000;" id="leave">
			<h4><a href="javascript:skipChat();">Click here</a> to quit this chat.</h4>
			</div>
		</div>
		<div id="friends">
            <h3>Your friends</h3>
			<table class="sortable">
			<thead>
			<tr>
			<th><b>#</b></th>
			{% for attr in attributes %}
			<th>{{ attr}}</th>
			{% endfor %}
			</tr>
			</thead>
			<tbody>
				{% set ctr = 1 %}
				{% for item in kb %}
				<tr>
					<td><a href="javascript:void(0)" onclick="makeSelection({{ctr}} - 1)"><b>Select</b></a></td>
					{% for attr in attributes %}
					<td>{{item[attr]}}</td>
					{% endfor %}
					{% set ctr = ctr + 1 %}
				</tr>
				{% endfor %}
			</tbody>
			</table>
        </div>
        {% if partner_kb %}
        <div id="peek">
            <h3>Partner's friends</h3>
			<table class="sortable">
			<thead>
			<tr>
			{% for attr in attributes %}
			<th>{{ attr}}</th>
			{% endfor %}
			</tr>
			</thead>
			<tbody>
				{% set ctr = 1 %}
				{% for item in partner_kb %}
				<tr>
					{% for attr in attributes %}
					<td>{{item[attr]}}</td>
					{% endfor %}
					{% set ctr = ctr + 1 %}
				</tr>
				{% endfor %}
			</tbody>
			</table>
        </div>
        {% endif %}

    </div>
    </div>
    </body>
</html>
