<div class="question">

<div class="panel panel-default context">
  <div class="panel-body">
      <p><b>Context:</b></p>
      <p>{context}</p>
  </div>
</div>

<div class="form-group">
  <p>Please rate which response is more appropriate given the above context.</p>
  <label class="radio"><input type="radio" name="{qid}" value="1">{response0}</label>
  <label class="radio"><input type="radio" name="{qid}" value="-1">{response1}</label>
  <label class="radio"><input type="radio" name="{qid}" value="0">Equally appropriate</label>
</div>

</div>
<hr />
