<div class="question">

<div class="panel panel-default context">
  <div class="panel-body">
      <p><b>Context:</b></p>
      <p>{context}</p>
  </div>
</div>

<div class="form-group">
  <p>Please select the more appropriate response given the above context. If they are equally good or bad, select "Both are appropriate" or "Both are NOT appropriate".</p>
  <label class="radio"><input type="radio" name="{qid}" value="1">{response0}</label>
  <label class="radio"><input type="radio" name="{qid}" value="-1">{response1}</label>
  <label class="radio"><input type="radio" name="{qid}" value="0"><i class="em em-smile"></i>Both are appropriate</label>
  <label class="radio"><input type="radio" name="{qid}" value="-2"><i class="em em-persevere"></i>Both are NOT appropriate</label>
</div>

</div>
<hr />
