<div class="question">

<div class="panel panel-default context">
  <div class="panel-body">
      <p><b>Context:</b></p>
      <p>{context}</p>
  </div>
</div>

<p><b>{response}</b></p>

<div class="form-group">
  <p>Please rate how likely the response continues from the conversation above.</p>
  <label class="radio-inline"><input type="radio" name="{qid}" value="-2"><i class="em em-persevere"></i>Very Unlikely</label>
  <label class="radio-inline"><input type="radio" name="{qid}" value="-1"><i class="em em-worried"></i>Unlikely</label>
  <label class="radio-inline"><input type="radio" name="{qid}" value="0"><i class="em em-neutral_face"></i>Neutral</label>
  <label class="radio-inline"><input type="radio" name="{qid}" value="1"><i class="em em-blush"></i>Likely</label>
  <label class="radio-inline"><input type="radio" name="{qid}" value="2"><i class="em em-smile"></i>Very Likely</label>
</div>

</div>
<hr />
