<html>
    <head>
        <title>{{ title }}</title>
        <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/chat.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var validCheckInterval, inboxCheckInterval;
            var BASE_URL = 'http://' + document.domain + ':' + location.port;
            var selectTime = null, messageStartTime = null;
            var messageTime = 0.0;
            var num_offer = 0;
            var turn_counter = 0;
            var eval_data = {};
            var utterance_regex = /(You|Partner): (.*)/;
            {% if not debug %}
                var read_time = 4000; // milliseconds
            {% else %}
                var read_time = 1000;  // In peek/debug mode, skip it
            {% endif %}
            $(document).ready(function(){
                // $('#description').modal({backdrop: 'static', keyboard: false});
                // $('#description').modal('show');
                $("#instructionCollapse").click();
                window.onbeforeunload = disconnect;

                // document.getElementById('modal_instruction').innerHTML = "(Please read carefully! This window will automatically collapse and the chat will start after " + read_time/1000 +" seconds).";

                var deadline = new Date(Date.parse(new Date()) + ({{ num_seconds }}) * 1000);

                $.ajax({
                    url: BASE_URL +'/_connect/',
                    type: "get",
                    data: {"uid": "{{ uid }}" },
                    dataType: "json"
                });

                $.ajax({
                    url: BASE_URL + '/_join_chat/',
                    type: "get",
                    data: {"uid": "{{ uid }}"},
                    dataType: "json",
                    success: function(response) {
                        displayText(response['message']);
                    }
                });
                validCheckInterval = setInterval(pollServer, 3000);

                $('.btn.btn-default.eval-tag').click(function () {
                    $(this).toggleClass('btn-default btn-primary');
                });


                $(".dropdown-menu>li>a").click(function() {
                    $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
                    $(this).parents(".dropdown").find('.btn').data('selection', $(this).data('selection'));

                    book_select = ($(".book-split").data('selection') > -1)
                    hat_select = ($(".hat-split").data('selection') > -1)
                    ball_select = ($(".ball-split").data('selection') > -1)

                    if (book_select && hat_select && ball_select) {
                        $(".yes-deal").removeAttr('disabled');
                    }
                });

                initializeClock('clockdiv', deadline);
                // This part executes after the description is shown
                setTimeout(function(){
                    // $('#description').modal('hide')
                    // $('#accept').style.display = 'none';
                    // $('#reject').style.display = 'none';
                    inboxCheckInterval = setInterval(checkInbox, 1000);

                    $('#text').keypress(function(e) {
                        var code = e.keyCode || e.which;
                        if ($('#text').val().length == 0) {
                            messageStartTime = Date.now() / 1000.0;
                            startedTyping();
                        }
                        if (code == 13) {
                            turn_counter++;
                            if (turn_counter > 3) {
                                $(".no-deal").css("display", "inline-block");
                            }

                            stoppedTyping();
                            text = $('#text').val();
                            $('#text').val('');
                            var currentTime = Date.now() / 1000.0;
                            messageTime = currentTime - messageStartTime;
                            sendMessage(text);
                            $("#text").attr("disabled", "disabled")
                            messageStartTime = null;
                            messageTime = 0.0;
                        }

                    });

                }, read_time);  // delay due to reading the description
            });

            function select() {
                var book_split = parseInt($('.book-split').data('selection'));
                var hat_split = parseInt($('.hat-split').data('selection'));
                var ball_split = parseInt($('.ball-split').data('selection'));

                $.ajax({
                    url: BASE_URL + '/_select/',
                    type: "get",
                    data: {
                        "uid": "{{ uid }}",
                        "book-split": book_split,
                        "hat-split": hat_split,
                        "ball-split": ball_split,
                    },
                    dataType: "json",
                    success: function(response) {
                        displayText(response['message']);
                    }

                });
            }
            function reject() {
                $.ajax({
                    url: BASE_URL +'/_reject/',
                    type: "get",
                    data: {
                        "uid": "{{ uid }}"
                    },
                    dataType: "json",
                    success: function(response) {
                        displayText(response['message'])
                    }
                })
            }


            function report() {
                $.ajax({
                    url: BASE_URL + '/_init_report/',
                    type: "get",
                    data: {
                        "uid": "{{ uid }}"
                    },
                    dataType:"json",
                    success: function(response) {
                        disconnect();
                        window.location.reload(true);
                    }
                });
            }

            function showReportModal() {
                $('#report_box').modal('show');
            }

            function startedTyping() {
                $.ajax({
                    url: BASE_URL + '/_typing_event/',
                    type: "get",
                    data: {
                        "uid": "{{ uid }}",
                        "action": "started"
                    }
                });
            }

            function stoppedTyping() {
                $.ajax({
                    url: BASE_URL + '/_typing_event/',
                    type: "get",
                    data: {
                        "uid": "{{ uid }}",
                        "action": "stopped"
                    }
                });
            }

            function displayText(message) {
                $('#chat').val($('#chat').val() + message + '\n');
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            }

            function displayStatus(message) {
                $('#status').val(message);
            }

            function clearEvalTags() {
                $('.btn.btn-primary.eval-tag').toggleClass('btn-primary btn-default');
            }

            function collectEvalTags() {
                var data = {};
                var sum = 0;
                $('.eval-tag').each(function (i) {
                    var key = $(this).attr('id');
                    if ( $(this).hasClass('btn-primary') ) {
                        data[key] = 1;
                        sum += 1;
                    } else {
                        data[key] = 0;
                    }
                });
                if (sum > 0) {
                    return data;
                }
                return null;
            }

            function sendEval() {
                if (!jQuery.isEmptyObject(eval_data)) {
                    var labels = collectEvalTags();
                    if ( labels != null ) {
                        //console.log('send eval:');
                        var data = {
                                "uid": "{{ uid }}",
                                "eval_data": eval_data,
                                "labels": labels
                            }
                        //console.log(JSON.stringify(data))
                        $.ajax({
                            url: BASE_URL + '/_send_eval/',
                            type: "post",
                            data: JSON.stringify(data),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function(response) {
                                //console.log('success');
                                clearEvalTags();
                            }
                        });
                    }
                }
            }

            function sendMessage(message) {
                $.ajax({
                    url: BASE_URL + '/_send_message/',
                    type: "get",
                    data: {
                        "uid": "{{ uid }}",
                        "message": message,
                        "time_taken": messageTime
                    },
                    dataType: "json",
                    success: function(response) {
                        displayText(response['message']);
                    }
                });
            }

            function checkInbox() {
                $.ajax({
                    url: BASE_URL + '/_check_inbox/',
                    type: "get",
                    data: { "uid": "{{ uid }}" },
                    dataType: "json",
                    success: function(response) {
                        if(response['received']) {
                            if(response['status']) {
                                displayStatus(response['message'])
                            } else if ('message' in response) {
                                $("#text").removeAttr('disabled');
                                displayText(response['message']);
                            }
                        }
                    }
                });
            }

            function pollServer() {
                $.ajax({
                    url: BASE_URL + '/_check_chat_valid/',
                    type: "get",
                    data: {"uid": "{{ uid }}"},
                    dataType: "json",
                    success: function(response) {
                        if(!response['valid']) {
                            disconnect();
                            window.location.reload(true);
                        }
                    }
                });
            }

            function disconnect() {
                clearInterval(validCheckInterval);
                clearInterval(inboxCheckInterval);
                $.ajax({
                    url: BASE_URL + '/_leave_chat/',
                    type: "get",
                    data: {"uid": "{{ uid }}"}
                });
                $.ajax({
                    url: BASE_URL + '/_disconnect/',
                    type: "get",
                    data: {"uid": "{{ uid }}" }
                });
            }

            function skipChat() {
                disconnect();
                $.ajax({
                    url: BASE_URL + '/_skip_chat/',
                    type: "get",
                    data: {"uid": "{{ uid }}"}
                });
                window.location.reload(true);
            }

            function getTimeRemaining(endtime) {
                var t = Date.parse(endtime) - Date.parse(new Date());
                t = Math.min(t, Date.parse(endtime))
                var seconds = Math.floor((t / 1000) % 60);
                var minutes = Math.floor((t / 1000 / 60));
                return {
                    'total': t,
                    'minutes': minutes,
                    'seconds': seconds
                };
            }

            function initializeClock(id, endtime) {
                var clock = document.getElementById(id);
                var minutesSpan = clock.querySelector('.minutes');
                var secondsSpan = clock.querySelector('.seconds');

                function updateClock() {
                    var t = getTimeRemaining(endtime);
                    minutesSpan.innerHTML = t.minutes+':';
                    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);
                    if (t.total/1000 <= {{ quit_after|int }} && {{ quit_enabled }}) {
                        $("#leave").css("display", "inline-block");
                    }
                    if (t.total <= 0) {
                        clearInterval(validCheckInterval);
                        clearInterval(timeinterval);
                        pollServer();
                    }
                }

                updateClock();
                var timeinterval = setInterval(updateClock, 1000);
            }

        </script>
    </head>

    <body oncopy="return false" oncut="return false" onpaste="return false">
    <div class="clearfix">
        <!-- Modal -->
        <div class="modal fade" id="description" role="dialog">
          <div class="modal-dialog">

          </div>
        </div>

        <div id="info_container">
            <h3>Divide these items between you and your partner.</h3>
            <div id="task-description">
            <p>Your partner sees the <b>SAME ITEMS</b> but with <b>DIFFERENT VALUES</b></p>
            <p>You get some items, and your partner will get the rest.</p>
            <p>Please try hard to negotiate a good deal for yourself!</p>
            </div>

            <div id="facts">
            <table id="items-table">
              <tr>
                <th>Items You BOTH See</th>
                <th>Value to You</th>
                <th>Number You Get</th>
              </tr>
              {% for item in kb|sort(attribute='Name') %}
                <tr>
                  <td>{% for _ in range(item.Count) %}
                      <img class="{{item.Name}} item" src="{{ url_for('static', filename='img/') }}{{ item.Name }}.png"/>
                      {% endfor %}
                  </td>
                  <td class="points">{{item.Value}}</td>
                  <td><div class="dropdown">
                    <button class="btn dropdown-toggle {{item.Name}}-split" type="button" data-toggle="dropdown" data-selection="-1" aria-expanded="true">
                      Please select
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      {% for count in range(item.Count + 1) %}
                          <li><a href="#" data-selection={{count}}>You Get {{count}}, They get {{item.Count - count}}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                  </td>
                </tr>
              {% endfor %}
            </table>
            </div>

            <div id="options">
            <button class="btn btn-primary yes-deal" disabled onclick="this.disabled=true;select()" style="display:inline-block" id="submit">Mark Deal Agreed</button>
            <button class="btn btn-default no-deal" onclick="this.disabled=true;reject()" style="display:none" id="submit">No Deal</button>
            </div>

            <div class="modal fade" id="report_box" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Report Issue</h4>
                    <b><p id="modal_instruction"></p></b>
                  </div>
                  <div class="modal-body" id="report-body">
                    <p>Describe your issues in the box below, and then click 'Submit' to submit your feedback to us.<span style="color: #ff0000"><b>Please also include your Mechanical Turk worker ID in the feedback so that we can grant you a bonus if you have significant trouble.</b></span></p>
                    <textarea id="report_feedback"></textarea>
                    <button onclick="report()" style="display: block;">Submit</button>
                  </div>
                </div>

              </div>
            </div>
        </div>

        <div id="chat_container">
            <div id="instructions">
                <button type="button" id="instructionCollapse" class="btn btn-sm btn-info" data-toggle="collapse" data-target="#inner">Show/Hide</button>
                <div id="inner" class="collapse">
                    {{ instructions }}
                </div>
            </div>

            <div id="clockdiv" align="right">
              Time Remaining:
              <div>
                <span class="minutes"></span>
                <span class="seconds"></span>
              </div>
            </div>

            <textarea readonly id="chat"></textarea>
            <input id="text" placeholder="Please enter here ... "><br><br>

            <div id="report">
                <p style="text-align:right">Having trouble with this task? Click here to send us a report.</p>
                <button onclick="report()" style="display: block; float:right;" id="report">Report</button>
            </div>
        </div>



    </div>
    </body>
</html>
