<h4 class="help">Help Text</h4>
<ul class="help">
  <li>Remember a minimum of 5 turns of dialog are required before clicking "Done Talking".</li>
  <li>Feel free to talk about anything related to movies, but please avoid sexual themes, political discussion or foul language.</li>
  <li>Please do not leave the chat unattended. If you are inactive for more than 3 minutes your connection will time out.</li>
  <li>Use the button on the lower right to report any problems with the interface.</li>
</ul>