<p>
You are given an excerpt of a conversation (the context) between two online users
and a response to the context.
Your task is to decide how appropriate the response (<b>in bold</b>) is on a scale of 1-5.
Your decision should be based on whether the context and the following response form a natural, coherent dialogue.
</p>
<p>
URLs are replaced by "URL".
Unknown words are replaced by "UNK".
There are some special symbols such as "& lt ;", which you can assume to be some emoji that can be safely ignored.
</p>
<p>
If you do not understand the context or there isn't enough information to make the judgment, please select "Not enough information", but be refrained from doing so frequently. 
</p>
<p>
<b>NOTE:</b><br>
We use verification answers to identify abusers.
Randomly chosen answers will <b>get rejected</b>.<br>
</p>
