<p>You will be rating <b>110</b> sets of dialogue responses.</p>

<p>In each question, you are given an excerpt of a conversation (the context)
happened between a buyer and a seller negotiating the price of an
item for sale, and two response following the context.
Your task is to decide which response is more appropriate in the context.
If they are equally appropriate, please select "Equally appropriate", but be refrained from doing so frequently.
</p>

<p>Mentions of prices are replaced by the symbol <b>PRICE</b>;
you can assume the actual amount is reasonable. </p>

<p>Symbols such as OFFER, ACCEPT, REJECT, QUIT denote actions.</p>

<p>
<b>NOTE:</b><br>
We use verification questions to identify abusers.
Randomly chosen answers will <b>get rejected</b>.<br>
</p>
