<p>You are given an excerpt of a conversation (the context)
happened between a buyer and a seller negotiating the price of an
item for sale, and a response following the context.
Your task is to decide how likely the response (<b>in bold</b>)
and the context actually come from the same dialogue, i.e. together
they form a natual, coherent dialogue.</p>
<p>Mentions of prices are replaced by the symbol <b>PRICE</b>;
you can assume the actual amount is reasonable. </p>
<p>Symbols such as OFFER, ACCEPT, REJECT denote actions.</p>
<p>
<b>NOTE:</b><br>
We use verification answers to identify abusers.
Randomly chosen answers will <b>get rejected</b>.<br>
Please do NOT accept <b>more than 5 HITs</b> in this group.
</p>
