<h4>
    You and another user (or a bot) will negotiate the price of an item for sale.
</h4>
<h3>Instructions - Please read carefully!</h3>
<ul>
    <!--<li>Interface instructions</li>
    <ul>-->
        <!--<li><span style="color:#ff0000">The task is not timed on this website. However, the HIT has a time limit of 25 minutes.</span></li>-->
        <li>Your <b>role</b> (buyer or seller) is to the right, as well as the description of an item for sale and a photo (if available).</li>
        <!--<li>The <b>list price</b> is provided as well, as well as a minimum/maximum price that you are willing to negotiate up to.</li>-->
        <li>Use the <b>chat box below</b> to negotiate with your partner given the description on the right.
        Please use complete, grammatical English without typos. </li>
        <li style="color:#ff0000">Please do not leave the chat unattended. If you are inactive for more than 3 minutes your connection will time out.</li>
        <!--<li><b><span style="color:#ff0000">After you send a message, you will not be allowed to send another message until your partner replies to you.</span></b></li>-->
        <li><b>Feel free to negotiate terms that are not financial! </b>For e.g., offering to pick up the item yourself; throwing in free items; negotiating additional benefits like a warranty or utilities.</li>
        <li>Be creative, but <b>don't contradict any facts</b> given in the description or shown in the image!</li>
        <li>During the chat, please <b>tag your partner's utterance</b> when it is not grammatical, out-of-context (incoherent), contradicting what was said previously, or when you find it is persuasive.</li>
        
        <li> At the end of the negotiation, <b>submit</b> the agreed deal in the text box at right. <!--<span style="color:#ff0000"><b>Please enter carefully; you can only submit an offer once!</b></span></li>-->
        <li>After you submit an offer, your partner can <b>accept</b> or <b>reject</b> it.</li>
        <li style="color:#ff0000">If you run into any trouble with the website, use the button on the <b>top right</b> to report the issue.</li>
        <!--<li>If you are not able to come to an agreement, submit your final offer anyway. Your partner can then reject this offer to show that there was no agreement.</li>-->
        <!-- <li style="color:#FF0000"> You <b>must</b> agree on a final price <b>within the time limit</b> in order to receive credit for this HIT.</li> -->
        <!-- <li style="color:#FF0000"> <b>NOTE</b>: You have only <b>one chance</b> to make an offer.</li>
        <li style="color:#FF0000"> If you cannot reach a deal with your partner, you can <b>quit</b> the dialogue by entering your final offer.</li>
        <li> You can also <b>quit</b> the dialogue by choosing the "Quit" option at the bottom right.</li> -->
        <!--<li style="color:#FF0000"> <b>If you cannot reach a deal and do not complete the negotiation, we will award partial credit to the HIT if you made a good effort to negotiate.</b></li>-->
        <!--</ul>-->
    <!--
    <li>HIT Instructions</li>
    <ul>
        <li> <b><span style="color:#ff0000">Our website automatically checks each dialogue for quality metrics like length.</span> If the dialogue was not long enough, if your partner did not respond, etc. you will be redirected to a new chat so that your HIT does not get rejected.</b> </li>
        <li>You will get credit for the HIT regardless of whether you are able to come to an agreement or not.</li>
        <li>You will be redirected to a survey after completing the task. You will receive a Mechanical Turk completion code after submitting the survey.</li>
    </ul>
    -->
    <!-- <li>Dialogue Instructions</li>
    <ul>
        <li style="color:#FF0000">Please do <b>not</b> state facts that are not explicitly given to you. It's okay to embellish certain aspects as a negotiation tactic!
        <li> <b>To the seller</b>:</li>
            <ul>
                <li>It's okay to embellish facts, but don't make up new properties not provided to you (or contradict given properties).</li>
                <li style="color:#009933"> <b>Do:</b> It's ready to drive across the country.</li>
                <li style="color:#FF0000"> <b>Don't do:</b> (if the facts did not mention recent tire replacement) I have just replaced all tires.</li>
            </ul>
         </li>
        <li> <b>To the buyer</b>:</li>
            <ul>
                <li>It's okay to make up preferences as a negotiation tactic, but don't make up properties that are not provided (or contradict given properties).</li>
                <li style="color:#009933"> <b>Do:</b> It has a high milleage and I'm worried about the functionality of the tire and the brake. </li>
                <li style="color:#FF0000"> <b>Don't do:</b> (if the facts did not mention a broken window) The window is broken. </li>
            </ul>
         </li>
    </ul> -->
</ul>
